<% if course.featured_image.persisted? %>
  <div class="group relative">
    <div class="aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-100">
      <%= image_tag course.featured_image, class: 'object-cover object-center', alt: "#{course.title} discount" %>
      <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
        <div class="w-full rounded-md bg-white bg-opacity-75 px-4 py-2 text-center text-sm font-medium text-gray-900 backdrop-blur backdrop-filter">View Course</div>
      </div>
    </div>
    <div class="mt-4 flex items-center justify-between space-x-8 text-base font-medium text-gray-900">
      <h3>
        <%= link_to course_path(course.slug) do %>
          <span aria-hidden="true" class="absolute inset-0"></span>
          <%= course.title %>
        <% end %>
      </h3>
      <p>
        <% if course.lowest_price %>
          <%= number_to_currency(course.lowest_price) %>
        <% else %>
          <span class="text-red-400 uppercase">sold out</span>
        <% end %>
      </p>
    </div>
    <!-- <p class="mt-1 text-sm text-gray-500">CATEGORY</p> -->
  </div>
<% end %>
