<%= render partial: "shared/heading", locals: { title: 'Browse', description: 'Sort courses by category or price.' } %>

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 pt-8 pb-16 sm:px-6 sm:pb-24 sm:pt-12 lg:max-w-7xl lg:px-8">
    <div class="flex items-center justify-between space-x-4">
      <!-- TODO: insert dropdowns for categories / sorting -->
    </div>
    <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-3">

      <% 9.times do %>
        <div class="group relative">
          <div class="aspect-h-3 aspect-w-4 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://tailwindui.com/img/ecommerce-images/product-page-05-related-product-01.jpg" alt="Payment application dashboard screenshot with transaction table, financial highlights, and main clients on colorful purple background." class="object-cover object-center">
            <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
              <div class="w-full rounded-md bg-white bg-opacity-75 px-4 py-2 text-center text-sm font-medium text-gray-900 backdrop-blur backdrop-filter">View Course</div>
            </div>
          </div>
          <div class="mt-4 flex items-center justify-between space-x-8 text-base font-medium text-gray-900">
            <h3>
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Fundamentals
              </a>
            </h3>
            <p>$9</p>
          </div>
          <p class="mt-1 text-sm text-gray-500">Programming</p>
        </div>
      <% end %>


    </div>
  </div>
</div>
